$color-white : #FFFFFF;
$color-black : #101750;

$color-grey-1 : #F8F8FD;
$color-grey-2 : #E5E0FC;
$color-grey-3 : #8A8FB9;

$color-primary-default : #FB2E86;
$color-primary-dark : #F0056A;
$color-primary-light : #FC5FA2;

$color-secondary-default : #F9BA00;
$color-secondary-light: #FFF3CE;

$color-tertiary : #7E33E0;

$color-danger-default : #FB2448;
$color-danger-light : #FEB9C4;

$color-info-default : #603EFF;
$color-info-light : #DDD6FF;

$color-success-default : #0CC562;
$color-success-dark : #00994C;
$color-success-light : #92F2BF;