@import '../../secondaryStyles/variables.scss';
@import '../../secondaryStyles/typography.scss';

.footer {
    max-width: 100vw;
    height: 55rem;

    &-top {
        padding: 5rem;
        width: 100%;
        height: 49rem;
        background-color: $color-grey-1;
        display: flex;
        gap: 8rem;
        justify-content: center;
    }

    &-bottom {
        width: 100%;
        height: 6rem;
        background-color: $color-grey-2;
        display: flex;
        align-items: center;
        justify-content: space-around;

        p {
            transform: translateX(-7rem);
        }
    }
}

.grey3 {
    color: $color-grey-3;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.logo {
    width: 11rem;
    height: 11rem;
    transform: translateY(-3rem);
}

.descryption {
    transform: translateY(-4rem);
}

.holder {
    width: 30rem;
}

a {
    cursor: pointer;
}


.icon-box {
    display: flex;
    gap: 2rem;
    align-items: center;
}