@use 'main' as *;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    height: 100rem;
    padding: 8rem 0;
    gap: 3rem;
    position: relative;


    
}

.nav-header {
    display: flex;
    gap: 4rem;
}

.card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}


a,a:link,a:visited,
a:hover,a:active  {
    text-decoration: none;
    color: $color-black;

}

#special {
    color: $color-primary-default;
}

.saleIcon {
    position: absolute;
    top: 22%;
    left: 63%;
}

.onSale {
    color: #EEEFFB;
    position: absolute;
    left: 65%;
    top: 24%;
    z-index: 100;
    transform: rotate(-9deg);
}