@import '../../secondaryStyles/variables.scss';
@import '../../secondaryStyles/typography.scss';

:host(.special-button) button {
  background-color: $color-success-default;

  &:hover {
    background-color: $color-success-dark;
  }
}


button {
    padding: 16px 40px;
    position: absolute;
    color: $color-white;
    border-radius: 8px;
    width: 18rem;
    height: 5.6rem;
    border: none;
    text-align: center;
    background-color: $color-primary-default;
    
    &:hover {
        background-color: $color-primary-dark;
    }
}