@import '../../secondaryStyles/variables.scss';
@import '../../secondaryStyles/typography.scss';

.isActive {
    transform: translateY(-4rem);
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 8px;
    width: 31rem;
    height: 38rem;
    box-shadow: 0.8rem 6.4rem 8rem -1.6rem rgba(#101750, 0.15);
    text-align: center;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}



.product-image {
    border-radius: 4px;
}

.icons {
    position: absolute;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
}

.main-icon {
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.bg-div {
    width: 3.2rem;
    height: 3.2rem;
    background-color: $color-grey-2;
    position: absolute;
    border-radius: 50%;
    z-index: 20;

    &2 {
        left: 4.8rem;
    }
}

.bg-active {
    background-color: $color-primary-default;
}

app-btn.special-button {
    position: absolute;
    top: 46%;
    left: 23%;
    transform: translateX(-50%);

    background-color: $color-success-default;
}

.p1 {
    color: $color-primary-default
}

.p3 {
    color: $color-grey-3;
}

.discount-box {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.marked {
    text-decoration: line-through;
    color: $color-grey-3;
}