@import '../../../secondaryStyles/variables.scss';
@import '../../../secondaryStyles/typography.scss';

.top-bar {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: $color-tertiary;
    color: $color-white;
    justify-content: space-around;
}

.contacts {
    gap: 4.5rem;
    display: flex;
    align-items: center;

    &__1 {
        display: flex;
        gap: 1rem;
        color: currentColor;
    }
    &__2 {
        display: flex;
        gap: 1rem;
        color: currentColor;
    }
}

.menu {
    display: flex;
    gap: 3rem;
    align-items: center;
    position: relative;
}

.menu_btn {
    display: flex;
    gap: .4rem;
    align-items: center;
    border: none;
    background-color: transparent;
    color: currentColor;
}

.select-box {
    position: absolute;
    height: 12rem;
    width: 13rem;
    font-size: 2rem;
    border-radius: 8px;
    list-style: none;
    border: 1px solid $color-grey-3;
    text-align: center;
    z-index: 100;
    background-color: $color-white;

    &-money {
        top: 4rem;
        left: 115rem;
    }
    &-language {
        top: 4rem;
        left: 106rem;
        
    }
}

.select-item {
    cursor: pointer;
    color: $color-info-default;
    border: 1px solid $color-grey-2;
    &-language {
        height: 33%;
    }
    
    &-money {
        height: 25%;
    }
}

.select-item:hover {
    background-color: $color-grey-2;
}

.sign {
    transform: rotate(180deg);
}

.shopLink {
    cursor: pointer;
    transform: scale(1.2);
}

.itemCount {
    position: absolute;
    border-radius: 50%;
    background-color: $color-primary-default;
    width: 2rem;
    height: 2rem;
    font-size: 1.4rem;
    top: 20%;
    left: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}