@import '../../secondaryStyles/variables.scss';
@import '../../secondaryStyles/typography.scss';

:host {
    display: block;
    max-width: 100vw;
    height: 60rem;
    background-color: #F1F0FF;
    position: relative;
}

.text-box {
    position: absolute;
    left: 100rem;
    top: 10rem;
    width: 55rem;
    height: 34rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.bg-decor {
    position: absolute;
    top: 4rem;
    left: 30rem;
}

.sofa {
    position: absolute;
    left: 25rem;
}

.p1 {
    color: $color-grey-3;
}

.feature-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.feature {
    display: flex;
    gap: 2rem;
    align-items: center;

    &-icon {
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50%;

        &-primary {
            background-color: $color-primary-default;
        }

        &-success {
            background-color: $color-success-default;
        }

        &-info {
            background-color: $color-info-default;
        }
    }
}

.add-box {
    height: 5.6rem;
    width: 30rem;
    display: flex;
    gap: 6rem;
    align-items: center;
}

app-btn.spec {
    width: 18rem;
    height: 5.6rem;
}