<div class="payment-section">
    <div *ngIf="hasProducts" class="product-box">
        <div class="product" *ngFor="let product of products">
            <div class="left">
                <img [src]="product.imgUrl" class="product-img">
                <div class="text-box">
                <p class="subtitle-medium">{{ product.name }}</p>
                <p class="label-default">{{ product.price }}</p>
                </div>
            </div>

            <div class="right">
                <div class="increase-decrease">
                <a class="body-small cursor" (click)="onChangeQuantity(product, -1)">-</a>
                <p class="body-small">{{ product.quantity}}</p>
                <a class="body-small cursor" (click)="onChangeQuantity(product, 1)">+</a>
                </div>
                <p class="label-default">${{getPriceValue(product.price) * product.quantity}}.00</p>
            </div>
        </div>
    </div>
    <div *ngIf="hasProducts" class="payment">
        <div class="subtotal">
            <p class="body-bold">Subtotal:</p>
            <p class="label-bold">${{subTotal}}.00</p>
        </div>
         <div class="subtotal">
            <p class="body-bold">Total:</p>
            <p class="label-bold">${{subTotal + 100}}.00</p>
        </div>
         <div class="shipping">
            <p class="body-small grey3">Shipping:</p>
            <p class="label-small grey3">$100.00</p>
        </div>
        <app-btn class="payment-btn" text="Proceed to checkout"></app-btn>
        <a class="body-default primary card-clear">Clear Cart</a>
    </div>

    <div class="noProducts" *ngIf="!hasProducts">
        <img src="assets/noProduct.png">
        <h3 class="heading-tertiary">Your cart is empty</h3>
        <app-btn class="special" text="Start Shopping"></app-btn>
    </div>


</div>

<app-footer></app-footer>
