@use 'main' as *;


.container {
    width: 98rem;
    height: 24rem;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0.8rem 6.4rem 8rem -1.6rem rgba(#101750, 0.15);

    &:hover {
        transform: translateY(-4rem);
    }
    &-grid {
        display: flex;
        width: 30rem;
        height: 45rem;
        flex-direction: column;
        gap: 1.5rem;
    }
}


.info-box {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    gap: 1rem;
}

.price-box {
    display: flex;
    align-items: center;
    gap: 2rem;

    &-1 {
        padding-top: 2rem;
    }
}
.deprecated {
    text-decoration: line-through;
}

.grey3 {
    color: $color-grey-3;
}

.icon-box {
    margin-top: 5.5rem;
    display: flex;
    gap: 4rem;

    &-1 {
        transform: translateY(-2rem);
    }

}

app-stars.rating-star {
    position: absolute;
    top: 2rem;
    left: 85%;

    &-1 {
        position: absolute;
        top: 57%;
        left: 5%;
    }
}