@use 'main' as *;

:host {
    max-width: 100vw;
    height: 78rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.5rem;
    padding: 9rem;
}

.trending-box {
    display: flex;
    gap: 4rem;
    justify-content: center;
}


.btn-box {
    width: 9rem;
    height: 2rem;
    display: flex;
    gap: 2rem;
}

.circle-btn {
    width: 1.2rem;
    height: 1.2rem;
    background-color: $color-white;
    border-radius: 50%;
    transform: rotate(45deg);
    border: 1px solid $color-primary-default;
}

.isActive {
    background-color: $color-primary-default;
}