@use 'main' as *;

:host {
    width: 172.8rem;
    display: flex;
    height: 90rem;
    background-color:  $color-grey-1;
    position: relative;
    
}

.light-img {
   position: absolute;
   top: 0;
   left: 7rem;
}

.content-box {
    width: 57rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    position: absolute;
    top: 20rem;
    left: 42rem;
}
.text-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 57rem;

    .p1 {
        color: $color-primary-default;
        padding: 16px 8px;
    }

    .p2 {
        padding: 16px 8px;
    }

    .p3 {
        color: $color-grey-3;
        padding: 16px 8px;
    }
}

.bg1 {
    width: 60rem;
    height: 60rem;
    background-color: $color-grey-2;
    border-radius: 50%;
    position: absolute;
    top: 4rem;
    left: 110rem;
    z-index: 50;
}
.bg2 {
    width: 60rem;
    height: 60rem;
    background-color: $color-grey-3;
    border-radius: 50%;
    position: absolute;
    top: 8rem;
    left: 104rem;
    z-index: 1;
}

.currentItem {
    position: absolute;
    top: 3.5rem;
    left: 107rem;
    z-index: 100;
    width: 62rem;
    height: 68rem;
}

.discount-box {
    position: absolute;
    top: 10rem;
    left: 160rem;
    z-index: 120;
    width: 4rem;
    transform: translateX(-50%);
    color: $color-white;

    h3 {
        transform: translate(3rem,-11rem);
    }
}

.btn-box {
    width: 9rem;
    height: 2rem;
    display: flex;
    gap: 2rem;
    position: absolute;
    bottom: 5rem;
    left: 49%;
}

.rectangle-btn {
    width: 1.2rem;
    height: 1.2rem;
    background-color: $color-white;
    border-radius: 1px;
    transform: rotate(45deg);
    border: 1px solid $color-primary-default;

    &-active {
        background-color: $color-primary-default;
    }
}