@use 'main' as *;

.container {
    width: 28rem;
    height: 38rem;
    display: block;
    position: relative;
}

.trending-img {
    width: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 100;

}

.img-bg {
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    background-color: $color-grey-3;
    position: absolute;
    z-index: 10;
}

.product-name {
    position: absolute;
    top: 35rem;
    left: 50%;
    transform: translateX(-50%);
}

.container:hover {
    transform: translateY(-5rem);
}

.container:hover .trending-img {
    transform: translate(.7rem,-1rem);
}

app-btn.special-button {
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%,-50%);
    z-index: 200;
    transform: scale(.8);
}

