@use 'main' as *;


.custom-input {
    display: flex;
}

:host.inp {
    transform: translate(3.2rem,-6rem);
}

input {
    border: 1px solid $color-grey-2;
    border-radius: 8px;
    padding: 2px;
    padding-left: 16px;
    width: 33rem;
    transform: translateX(-4rem);
}

button {
    width: 6rem;
    height: 4rem;
    border-radius: 6px;
    background-color: $color-primary-default;
    position: relative;
    transform: translateX(-10rem);
    border: none;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.btn-text {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: $color-white;
}

.wrong {
    border: 1px solid $color-danger-default;
}