@import '../../secondaryStyles/variables.scss';
@import '../../secondaryStyles/typography.scss';


.container {
    width: 38rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}




.product-image {
    border-radius: 4px;
    width: 100%;
}

.icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 4rem;
    gap: 1.5rem;
    padding: 1rem;
    bottom: 6.5rem;
}

.p2 {
    color: $color-primary-default
}

.product-info {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    justify-content: space-between;
    align-items: center;
}

.price-box {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}