<div class="container" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">
    <img [src]="products[ind].imgUrl" alt={{products[ind].name}} class="product-image"/>
    <div class="icons">
        <img  *ngIf="isHovered" [src]="shopIconUrl" alt="Shop Icon" class="product-icon"/>
        <img  *ngIf="isHovered" [src]="heartIconUrl" alt="Add Icon" class="product-icon"/>
        <img  *ngIf="isHovered" [src]="loopIconUrl" alt="Zoom Icon" class="product-icon"/>
    </div>
    <div class="product-info">
        <p class="label-default">{{products[ind].name}}</p>
        <div class="price-box">
            <p class="label-default">{{products[ind].price}}</p>
            <p class="label-small p2">$75.00</p>
        </div>
    </div>
</div>

