<img [src]="blogCard.imgUrl" class="blog-img">
<div class="contact-box">
    <div class="contact">
        <img [src]="penImgUrl" >
        <p class="label-small grey3">{{blogCard.contactName}}</p>
    </div>
    <div class="date">
        <img [src]="calendarImgUrl" >
        <p class="label-small grey3">{{blogCard.date}}</p>
    </div>
</div>
<p class="subtitle-tiny pad title">{{blogCard.title}}</p>
<p class="body-default grey3 pad">{{blogCard.descryption}}</p>
<a class="label-bold primary pad">Read More</a>
