@import '../../../secondaryStyles/variables.scss';
@import '../../../secondaryStyles/typography.scss';

:host {
    width: 42rem;
    height: 47.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0.8rem 6.4rem 8rem -1.6rem rgba(#101750, 0.15);
    border-radius: 8px;
    gap: 2.5rem;

    &:hover {
        transform: translateY(-4rem);
    }

    &:hover .title {
        color: $color-primary-default;
    }
}

.grey3 {
    color: $color-grey-3;
}

.primary {
    color: $color-primary-default;
}

.contact {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
}

.date {
    display: flex;
    gap: 1rem;
}

.contact-box {
    display: flex;
    gap: 6rem;
}

.pad {
    padding-left: 1rem;
}

.blog-img {
    border-radius: 8px;
}

a {
    cursor: pointer;
}