@use 'main' as *;


:host {
    max-width: 192rem;
    height: 78rem;
    //background-color: $color-primary-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 8rem;
}

.product-box {
    display: flex;
    gap: 4rem;
}

.slider-buttons {
    width: 12rem;
    height: .5rem;
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.slider-button {
    width: 2rem;
    height: .5rem;
    border-radius: 10px;
    background-color: #FEBAD7;
    margin-top: 2rem;
}

.isActive {
    background-color: #FB2E86;
    width: 3.5rem;
}