<header class="top-bar">
    <div class="logo-container">
        <img [src]="logoUrl" alt="Logo" class="logo" routerLink="/" style="cursor: pointer;">
    </div>

    <nav class="menu">
        @if(isLoggedIn$ | async) {
            <button class="menu_btn" type="button">
                <p class="subtitle-tiny">{{(userEmail$ | async) || 'User'}}</p>
                <img [src]="humanUrl">
            </button>
            <button class="menu_btn" type="button" (click)="onLogout()">
                <p class="subtitle-tiny">Logout</p>
            </button>
        } @else {
            <button class="menu_btn" type="button" routerLink="/login" routerLinkActive="active">
                <p class="subtitle-tiny">Login</p>
                <img [src]="humanUrl">
            </button>
        } 
        <button class="menu_btn" type="button">
            <p class="subtitle-tiny">Wishlist</p>
            <img [src]="heartUrl">
        </button> 
        <button class="menu_btn" type="button">
            <img [src]="boughtItemUrl" class="shopLink" routerLink="/payment" routerLinkActive="active">
        </button>   
        <p class="itemCount">{{itemCount$ | async}}</p>   
    </nav>
   
</header>
