@use 'main' as *;

.top-bar {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: $color-tertiary;
    color: $color-white;
    justify-content: space-around;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0 2rem;

    .logo {
        height: 3.5rem;
        width: auto;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.menu {
    display: flex;
    gap: 3rem;
    align-items: center;
    position: relative;
}

.menu_btn {
    display: flex;
    gap: .4rem;
    align-items: center;
    border: none;
    background-color: transparent;
    color: currentColor;
    position: relative;
    cursor: pointer;

    &-language {
        position: relative;
    }

    &-money {
        position: relative;
    }
}

.select-box {
    position: absolute;
    height: 12rem;
    width: 13rem;
    font-size: 2rem;
    border-radius: 8px;
    list-style: none;
    border: 1px solid $color-grey-3;
    text-align: center;
    z-index: 100;
    background-color: $color-white;

    &-money {
        top: 100%;
        left: 0;
        margin-top: 0.5rem;
    }
    &-language {
        top: 100%;
        left: 0;
        margin-top: 0.5rem;
    }
}

.select-item {
    cursor: pointer;
    color: $color-info-default;
    border: 1px solid $color-grey-2;
    &-language {
        height: 33%;
    }
    
    &-money {
        height: 25%;
    }
}

.select-item:hover {
    background-color: $color-grey-2;
}

.sign {
    transform: rotate(180deg);
}

.shopLink {
    cursor: pointer;
    transform: scale(1.2);
}

.itemCount {
    position: absolute;
    border-radius: 50%;
    background-color: $color-primary-default;
    width: 2rem;
    height: 2rem;
    font-size: 1.4rem;
    top: 20%;
    left: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}