<div class="title-box">
    <h1 class="heading-primary">Products</h1>
    <nav class="navigate">
        <a class="body-default grey3" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="body-default primary">Products</a>
    </nav>
</div>

<div class="sort-box">
    <div class="page-sort">
        <p class="body-default grey3">Per Page</p>
        <button class="menu_btn" (click)="onShowCountBar()" type="button">
            <p class="subtitle-tiny">{{count}}</p>
            <img [src]="arrowDownUrl" alt="Arrow" [class.sign]="showCountBar">
        </button>
        @if(showCountBar) {
            <ul class="select-box select-box-count">
                <li class="select-item"  (click)="onChooseCount(10)">10</li>
                <li class="select-item"  (click)="onChooseCount(5)">5</li>
                <li class="select-item"  (click)="onChooseCount(3)">3</li>
            </ul>
        } 
    </div>
    <div class="price-sort">
        <p class="body-default grey3">Sort By</p>
        <button class="menu_btn" (click)="onShowSortingBar()" type="button">
            <p class="subtitle-tiny">{{sortOption}}</p>
            <img [src]="arrowDownUrl" [class.sign]="showSortingBar">
        </button>
        @if(showSortingBar) {
            <ul class="select-box select-box-sort">
                <li class="select-item"  (click)="onChooseSort('Descending')">High -> Low</li>
                <li class="select-item"  (click)="onChooseSort('Ascending')">Low -> High</li>
                <li class="select-item"  (click)="onChooseSort('Rating')">Rating</li>
            </ul>
        }  
    </div>
    <div class="view-sort">
        <p class="body-default grey3">View</p>
        <img [src]="sortIcon1" (click)="onVariant(1)">
        <img [src]="sortIcon2" (click)="onVariant(2)">
    </div>
</div>

<div class="filter-box">
    <div class="filter-group">
        <div class="filter-title">
            <p class="subtitle-small">Product Brand</p>
            <div class="border"></div>
        </div>
        <div class="filter-list">
            <div class="filter-item">
                <div class="filter-icon filter-icon-1" (click)="onClick(0,'Casio')" [class.active-1]="activeIndex === 0">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 0" class="galchka">
                </div>
                <p class="body-default grey3">Casio</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-1" (click)="onClick(1, 'Apple')" [class.active-1]="activeIndex === 1">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 1" class="galchka">
                </div>
                <p class="body-default grey3">Apple</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-1" (click)="onClick(2, 'Sony')" [class.active-1]="activeIndex === 2">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 2" class="galchka">
                </div>
                <p class="body-default grey3">Sony</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-1" (click)="onClick(3, 'Nike')" [class.active-1]="activeIndex === 3">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 3" class="galchka">
                </div>
                <p class="body-default grey3">Nike</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-1" (click)="onClick(4, 'Vke')" [class.active-1]="activeIndex === 4">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 4" class="galchka">
                </div>
                <p class="body-default grey3">Vke</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-1" (click)="onClick(5, 'Glossiness')" [class.active-1]="activeIndex === 5">
                        <img [src]="galchkaUrl" *ngIf="activeIndex === 5" class="galchka">
                </div>
                <p class="body-default grey3">Glossiness</p>
            </div>
        </div>
    </div>

    <div class="filter-group">
        <div class="filter-title">
            <p class="subtitle-small">Discount Offer</p>
            <div class="border"></div>
        </div>
        <div class="filter-list">
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(6, '20')" [class.active-2]="activeIndex === 6">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 6" class="galchka">
                </div>
                <p class="body-default grey3">20%  Cashback</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(7, '5')" [class.active-2]="activeIndex === 7">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 7" class="galchka">
                </div>
                <p class="body-default grey3">5% Cashback Offer</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(8, '25')" [class.active-2]="activeIndex === 8">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 8" class="galchka">
                </div>
                <p class="body-default grey3">25% Discount Offer</p>
            </div>
        </div>
    </div>

    <div class="filter-group">
        <div class="filter-title">
            <p class="subtitle-small">Rating</p>
            <div class="border"></div>
        </div>
        <div class="filter-list">
            <div class="filter-item">
                <div class="filter-icon filter-icon-3" (click)="onClick(9,'0')" [class.active-3]="activeIndex === 9">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 9" class="galchka">
                </div>
                <app-stars [starCount]="0"></app-stars>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-3" (click)="onClick(10,'1')" [class.active-3]="activeIndex === 10">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 10" class="galchka">
                </div>
                <app-stars [starCount]="1"></app-stars>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-3" (click)="onClick(11,'2')" [class.active-3]="activeIndex === 11">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 11" class="galchka">
                </div>
                <app-stars [starCount]="2"></app-stars>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-3" (click)="onClick(12,'3')" [class.active-3]="activeIndex === 12">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 12" class="galchka">
                </div>
                <app-stars [starCount]="3"></app-stars>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-3" (click)="onClick(13,'4')" [class.active-3]="activeIndex === 13">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 13" class="galchka">
                </div>
                <app-stars [starCount]="4"></app-stars>
            </div>
        </div>
    </div>

    <div class="filter-group">
        <div class="filter-title">
            <p class="subtitle-small">Categories</p>
            <div class="border"></div>
        </div>
        <div class="filter-list">
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(14, 'Watches')" [class.active-2]="activeIndex === 14">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 14" class="galchka">
                </div>
                <p class="body-default grey3">Watches</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(15, 'Headphones')" [class.active-2]="activeIndex === 15">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 15" class="galchka">
                </div>
                <p class="body-default grey3">Headphones</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(16, 'Laptop')" [class.active-2]="activeIndex === 16">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 16" class="galchka">
                </div>
                <p class="body-default grey3">Laptop</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(17, 'Game Console')" [class.active-2]="activeIndex === 17">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 17" class="galchka">
                </div>
                <p class="body-default grey3">Game Console</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(18, 'Shoes')" [class.active-2]="activeIndex === 18">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 18" class="galchka">
                </div>
                <p class="body-default grey3">Shoes</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(19, 'Jewellery')" [class.active-2]="activeIndex === 19">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 19" class="galchka">
                </div>
                <p class="body-default grey3">Jewellery</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(20, 'Perfume')" [class.active-2]="activeIndex === 20">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 20" class="galchka">
                </div>
                <p class="body-default grey3">Perfume</p>
            </div>
        </div>
    </div>

    <div class="filter-group">
        <div class="filter-title">
            <p class="subtitle-small">Price</p>
            <div class="border"></div>
        </div>
        <div class="filter-list">
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(21,'0-150')" [class.active-2]="activeIndex === 21">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 21" class="galchka">
                </div>
                <p class="body-default grey3">$0-$150</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(22, '150-350')" [class.active-2]="activeIndex === 22">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 22" class="galchka">
                </div>
                <p class="body-default grey3">$150-$350</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(23, '350-500')" [class.active-2]="activeIndex === 23">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 23" class="galchka">
                </div>
                <p class="body-default grey3">$350-$500</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(24, '550-800')" [class.active-2]="activeIndex === 24">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 24" class="galchka">
                </div>
                <p class="body-default grey3">$550-$800</p>
            </div>
            <div class="filter-item">
                <div class="filter-icon filter-icon-2" (click)="onClick(25, '800+')" [class.active-2]="activeIndex === 25">
                    <img [src]="galchkaUrl" *ngIf="activeIndex === 25" class="galchka">
                </div>
                <p class="body-default grey3">$800+</p>
            </div>
        </div>
    </div>
</div>
<div class="card-box" [class.card-box-grid]="variant === 1">
    <ng-container *ngFor="let product of items; let idx = index">
        <app-card [isGrid]="variant === 1 ? true : false" [ind]="idx" [products]="items">
    </app-card>
    </ng-container> 
    
</div>

<div class="pagination">
    <div class="page" [class.activePage]="activePage === 1" (click)="onChangePage(1)">1</div>
    <div class="page" *ngIf="count <= 5" [class.activePage]="activePage === 2" (click)="onChangePage(2)">2</div>
    <div class="page" *ngIf="count <= 3" [class.activePage]="activePage === 3" (click)="onChangePage(3)">3</div>
    <div class="page" *ngIf="count <= 3" [class.activePage]="activePage === 4" (click)="onChangePage(4)">4</div>
</div>
<app-footer class="foot"></app-footer>

