@use 'main' as *;

:host {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 80rem;
    align-items: center;
    gap: 8rem;
    padding: 8rem;
}

.card-box {
    display: flex;
    gap: 4rem;
}