<h2 class="heading-secondary heading">Featured Products</h2>
<div class="product-box">
  <app-product-card [ind]="showIndexes - 4" [variant]="1"></app-product-card>
  <app-product-card [ind]="showIndexes - 3" [variant]="1"></app-product-card>
  
  <app-product-card
    *ngIf="showIndexes <= 10"
    [ind]="showIndexes - 2"
    [variant]="1"
  ></app-product-card>

  <app-product-card
    *ngIf="showIndexes <= 10"
    [ind]="showIndexes - 1"
    [variant]="1"
  ></app-product-card>
</div>

<div class="slider-buttons">
  <div
    [ngClass]="{ 'slider-button': true, isActive: activeIndex === 1 }"
    (click)="onClick(1)"
  ></div>
  <div
    [ngClass]="{ 'slider-button': true, isActive: activeIndex === 2 }"
    (click)="onClick(2)"
  ></div>
  <div
    [ngClass]="{ 'slider-button': true, isActive: activeIndex === 3 }"
    (click)="onClick(3)"
  ></div>
</div>
