@use 'main' as *;

:host {
    display: block;
    width: 172.8rem;
    height: 377rem;
    //background-color: azure;
    position: relative;
    //text-align: center;
}

.grey3 {
    color: $color-grey-3;
}

.primary {
    color: $color-primary-default;
}

.title-box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.navigate {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.menu_btn {
    height: 3rem;
    display: flex;
    gap: 2.5rem;
    padding: 1rem;
    align-items: center;
    border: 1px solid $color-grey-2;
    color: $color-black;
    background-color: $color-white;
    border-radius: 8px;
}

.sort-box {
    display: flex;
    gap: 6.5rem;
    position: absolute;
    top: 37.5rem;
    left: 90rem;
}

.page-sort {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.price-sort {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.view-sort {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.filter-box {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: absolute;
    top: 44rem;
    left: 30.5rem;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.filter-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter-icon {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 4px;
    position: relative;

    &-1 {
        background-color: $color-info-light;
    }

    &-2 {
        background-color: $color-danger-light;
    }
    &-3 {
        background-color: $color-secondary-light;
    }
}

.galchka {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.border {
    width: 14rem;
    border:1px solid $color-black;
}

.card-box {
    position: absolute;
    top: 12%;
    left: 36%;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;

    &-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3rem;
    }

    &-5 {
        top: 20%;
    }

    &-3 {
        top: 25%;
    }
}

app-footer.foot {
    width: 100%;
    position: absolute;
    top: 90%;
    left: 0;
}

.active {
    &-1 {
        background-color: $color-info-default;
    }

    &-2 {
        background-color: $color-primary-default;
    }

    &-3 {
        background-color: $color-secondary-default;
    }
}


.select-box {
    position: absolute;
    height: 12rem;
   
    font-size: 1.6rem;
    border-radius: 8px;
    list-style: none;
    border: 1px solid $color-grey-3;
    
    z-index: 100;
    background-color: $color-white;

    &-count {
        width: 8rem;
        top: 3rem;
        left: 8rem;
    }

    &-sort {
        width: 12rem;
        top: 3rem;
        left: 29.5rem;
    }
}

.select-item {
    cursor: pointer;
    color: $color-info-default;
    border: 1px solid $color-grey-2;
    padding: 1rem;
}

.select-item:hover {
    background-color: $color-grey-2;
}

.sign {
    transform: rotate(180deg);
}

.pagination {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 103%;
    left: 84%;
    z-index: 100;
}

.page {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 4px;
    font-size: 2rem;
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: $color-primary-default;
        color: $color-white;
    }
}

.activePage {
    background-color: $color-primary-default;
    color: $color-white;
}