@import '../../../secondaryStyles/variables.scss';
@import '../../../secondaryStyles/typography.scss';

.product-buying {
    display: flex;
    justify-content: space-around;
    padding: 7rem;
}

.primary {
    color: $color-primary-default;
}

.lined {
    text-decoration: line-through;
}

.grey {
    color: #A9ACC6;
}

.img-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3,1fr);
    gap: 2rem;

}

.img1 {
    grid-row: 1 / -1;
    width: 51rem;
    height: 46rem;
    grid-column: 2 / -1;
}

.img {
    width: 17rem;
    height: 14rem;
}

.img2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;        
}

.img3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.img4 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.text-box {
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.price-box {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.action-box {
    display: flex;
    position: relative;

    img {
        position: absolute;
        left: 60%;
        z-index: 100;
        transform: translateY(1.8rem);
    }
}